<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<!--<link rel="stylesheet" href="javascripts/lib/qunit-1.20.0.css">	-->
	<link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.20.0.css">	
<title>Bogus</title>
<!--<link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="all">-->
<!--<script src="javascripts/lib/jquery-1.11.0.min.js"></script>-->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!--<script src="javascripts/lib/qunit-1.20.0.js"></script>-->
<script src="https://code.jquery.com/qunit/qunit-1.20.0.js"></script>
<script src="javascripts/common.js"></script>
<!--<script src="testsuite/testsuite.js"></script>-->
	
<script>
$(function(){
	QUnit.config.autostart = false;
	testsuite();
});

	
function testsuite() {
	var testcase = getUrlParameter('case');
	if (!testcase || testcase === 'undefined') {
		alert("a testcase is empty");
		return;
	}

	console.log("testcase: " + testcase);

	$.ajax({
		type: "GET",
		url: "testsuite/" + testcase,
		dataType: "script",
		cache: false,
		success: function() {
			 QUnit.load();
			 QUnit.start();
		}
	});
}
</script>
</head>
		
<body id="main_body" >
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
</body>
</html>
